[submodule "platforms/sqlite"]
	path = deps/sqlite
	url = git@github.com:vlcn-io/sqlite.git
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = git@github.com:emscripten-core/emsdk.git
[submodule "deps/wa-sqlite"]
	path = pkg/wasm-esm/wa-sqlite
	url = git@github.com:vlcn-io/wa-sqlite.git
