[submodule "js/deps/wa-sqlite"]
	path = js/deps/wa-sqlite
	url = https://github.com/vlcn-io/wa-sqlite.git
[submodule "core/rs/sqlite-rs-embedded"]
  path = core/rs/sqlite-rs-embedded
	url = https://github.com/vlcn-io/sqlite-rs-embedded.git
