body {
  margin: 0;
  background-color: black;
  height: 100vh;
  color: #ddd;
  font: 1.3rem Inconsolata, monospace;
}

/* body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
} */

::selection {
  background: #0080ff;
  text-shadow: none;
}

.fullsize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#app {
  padding: 40px;
}

.input {
  display: flex;
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
}

.input > form {
  flex-grow: 1;
  display: inline-block;
  margin-block-end: 0;
  position: relative;
  top: -4px;
  left: 12px;
}

.term input {
  border: 0;
  background: inherit;
  outline: none;
  height: 1.3rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  height: 2rem;
  padding: 0;
  width: 100%;
}

.output > div {
  margin-bottom: 5px;
}

.output {
  position: absolute;
  top: 40px;
  bottom: 80px;
  left: 40px;
  right: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

table {
  margin-top: 10px;
}

th {
  outline: 1px solid white;
  padding: 4px;
}
