on:
  - push
  - pull_request:
    types: [opened, edited]
name: "js-tests"
jobs:
  build:
    name: Testing on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          # - os: windows-2022 # windows hangs indefintely when installing build tools
          # can't switch to node19 for windows until https://github.com/WiseLibs/better-sqlite3/pull/870 is resolved
          # as some js tests use better-sqlite3
          - os: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Windows build tools
        if: runner.os == 'Windows'
        run: npm install --global windows-build-tools

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm run build

      - name: Build + Test
        run: pnpm run test --scope='!@vlcn.io/py-correctness'
